.user-icon {
    border-radius: 50%;
}

.list-card {
    padding: 0.5rem;
    background-color: #fff;
    cursor: pointer;
    &:not(:last-of-type) {
        margin-bottom: 1rem;
    }
    &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_margin-top-1 {
            margin-top: 1rem;
        }
    }
}